.navigation {

  &__checkbox {
    display: none;
  }

  &__button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: $color-white;
    z-index: 10;
    box-shadow: 0 1rem 3rem rgba($color-black, .2);
    text-align: center;

    @include responsive(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include responsive(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 5;
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);

    @include responsive(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include responsive(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    opacity: 0;
    transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {

    &:link, &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: all 400ms;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    &:hover, &:active {
      background-position: 100%;
      color: $color-primay;
      transform: translateX(1rem);
    }
  }

// Functionality

  &__checkbox:checked ~ &__background {
    transform: scale(50);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // Icon

  &__icon {
    position: relative;
    margin-top: 3.5rem;

   &, &::before, &::after {
     display: inline-block;
     width: 3rem;
     height: 2px;
     background-color: $color-gray-dark;
   }

   &::before, &::after {
     content: "";
     position: absolute;
     left: 0;
     transition: all 200ms
   }

   &::before {top: 1rem;}
   &::after {top:-1rem;}
  }

  &__button:hover &__icon::before {
    top: 1.2rem;
  }

  &__button:hover &__icon::after {
    top: -1.2rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
