.btn {

  &, &:link, &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all 20rem;
    position: relative;
    font-size: $default-font-size;

    // Changes for the <button> elemnt (had to also add & symbol before &:link to select the <button> since you cannot aply link and visited pseudo class to a <button>)

    border: none;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);

    &::after {
      transform: scalex(1.4) scaley(1.6);
      opacity: 0;
    }
  }

  &:focus, &:active {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2)
  }

  &--white {
    background-color: $color-white;
    color: $color-gray;

    &::after{
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primay;
    color: $color-white;

    &::after{
      background-color: $color-primay;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 400ms;
  }

  &--animated {
    animation: bottom 500ms ease-out 750ms;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link, &:visited {
    font-size: $default-font-size;
    color: $color-primay;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid $color-primay;
    padding: .3rem;
  }

  &:hover {
   background-color: $color-primay;
   color: $color-white;
   box-shadow: 0 1rem 2rem rgba($color-black, .15);
   transform: translateY(-.2rem);
  }

 &:active {
   box-shadow: 0 .5rem 1rem rgba($color-black, .15);
   transform: translateY(0);
  }
}
