.section-about {
  background-color: $color-gray-light-1;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10.1rem;

  @include responsive(tab-port) {
    padding: 10rem 0;
  }

  & > * {
   transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  margin-top: -10rem;
  padding: 20rem 0 10rem 0;
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include responsive(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8));

  @include responsive(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba($color-white, .8)0%, rgba($color-white, .8)50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .40);

  @include responsive(tab-land) {
      background-image: linear-gradient(105deg, rgba($color-white, .8)0%, rgba($color-white, .8)65%, transparent 65%), url(../img/nat-10.jpg);
  }

  @include responsive(tab-port) {
      background-image: linear-gradient(to right, rgba($color-white, .8)0%, rgba($color-white, .8)100%), url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include responsive(tab-land) {
      width: 65%;
    }
    
    @include responsive(tab-port) {
      width: 100%;
    }
  }
}
