// Colors
$color-primay: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-terciary-light: #2998ff;
$color-terciary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-gray: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #999;
$color-gray-dark-2: #333;


//Font font size
$default-font-size: 1.6rem;

// Grid float
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//gutter means the space btwn elements (margin), it can be either horizontal or vertical space.
